<style>
  body, html{
    min-height: 75rem;
    padding-top: 3rem;
  }
</style>

<!DOCTYPE html>
<html>
<head>
  <title>IbcTodoList</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/menu_topo' %>
<div class="container">
  <div class="page-header" role="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
